@keyframes slide-fade-in-dropdown-animation {
    0% {
    transform: translateY(-100%);
    }

    100% {
    transform: translateY(0);
    }
}

.slide-fade-in-dropdown {
    overflow: hidden;
}

.slide-fade-in-dropdown > ul {
    animation: slide-fade-in-dropdown-animation .4s ease;
}

@keyframes slide-fade-out-dropdown-animation {
    0% {
    transform: translateY(0);
    }

    100% {
    transform: translateY(-100%);
    }
}

.slide-fade-out-dropdown {
    overflow: hidden;
}

.slide-fade-out-dropdown > ul {
    animation: slide-fade-out-dropdown-animation 0.4s ease;
    animation-fill-mode: forwards;
}

.components-dropdown > ul {
    position: relative;
    top: 5px;
    margin-top: 0;
    margin-bottom: 5px;
    padding-left: 0;
    list-style: none;
}