.InnerDiv{
    flex : 1 1 auto;
    padding : 15px;
    border : 1px solid lightgray;
    min-width: 600px;
}
.Subject{
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 10px 0;
}
.searchDiv{
    display : flex;
    flex : 1 0 auto;
    text-align : center;
    font-weight : bold;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.input{
    height: 20px;
    outline: none;
    border-radius: 0;
    border: 1px solid gray;
}
.properties{
    border: 2px solid #F1A94E;
    border-radius: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
.properties p{
    color: #274E13;
    padding : 0;
    margin  : 10px;
}
.formTable{
    width: 100%;
    border-collapse: collapse;
    margin-right: 2px;
    font-size: 14px;
}
.formTable tbody tr{
    border-bottom: 1px solid lightgray;
}
.formTable td{
    text-align: center;
    padding: 7px 11px 7px 10px;
}

.profileTable{
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    text-align: left;
    border-spacing: 30px;
}
.profileTable td{
    padding: 7px 11px 7px 10px;
}

.alarmSubject{
    font-weight: bold;
}
.alarmText{
    height : 30px;
    border : none;
    padding: 0;
}
.alarmDate{
    font-size: 12px;
    font-weight: bold;
}
.alarmButton{
    border: none;
    text-decoration-line:underline;
}
.alarmButton:hover{
    background: none;
}