.headerMobileWhole{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.HeaderMobIconCont img{
    height: 30px;
}

.HeaderMobLogoCont img{
    height: 48px;
}