.flexdiv{
    display: flex;
}
.profileName{
    font-size: 22px;
    font-weight: 520;
    margin: 5px;
}
.profileinfo{
    color: gray;
    font-size: 14px;
    margin: 0;
    margin-left : 5px;
    margin-right: 5px;
}
