.entire{
    /* 프레임 29 */
    position: static;
    width: 1130px;
    /* border: 1px solid rgb(219, 219, 219); */



    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    margin: 30px 0px;
}

.menuBar{
    /* 메뉴바 */
    position: static;
    width: 905px;
    height: 46px;
    /* border: 1px solid rgb(7, 23, 255); */
    white-space: nowrap;
    overflow: auto;

    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.menu{
    /* 프레임 5 */
    position: static;
    width: 869px;
    height: 46px;
    /* border: 1px solid rgb(236, 0, 0); */

    /* background: rgb(255, 255, 255); */


    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.menuTextFrame{
    /* Frame 78 */
    position: static;
    width: 68px;
    height: 46px;
    box-sizing: border-box;
    /* border: 1px solid rgb(241, 162, 224); */


    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 15px 0px 15px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;

}

.menuClicked{
    border-bottom: 2px solid rgb(39, 78, 19);
}

.menuText{
    /* 전체 */
    position: static;
    height: 23px;
    /* border: 1px solid rgb(219, 219, 219); */

    color: rgb(0, 0, 0);
    font-family: NanumGothic;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: justify;



    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 15px 0px 15px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.menuArrowFrame{
    /* arrow_circle_down */
    position: static;
    width: 27px;
    height: 27px;

     /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 3.5px;
}

.menuArrow{
    /* 矢量 34 */
    position: static;
    width: 27px;
    height: 27px;
}

/* 메뉴바 아래 전체 */
.main{
    /* Frame 166 */
    position: static;
    width: 1130px;
    /* border: 1px solid rgb(71, 19, 212); */


    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    /* margin: 20px 0px; */
}

.option{
    /* 옵션 */
    position: static;
    width: 870px;
    height: 34px;
    /* border: 1px solid rgb(71, 19, 212); */

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 30px 0px;
}

.optionFrame{
    /* 프레임 1 */
    position: static;
    /* width: 593px; */
    height: 34px;
    left: 0;
    /* right: 277px; */
    top: 0;
    bottom: 0;


    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}

.optionTextFrame{
    /* Frame 68 */
    position: static;
    /* width: 100px; */
    height: 34px;

    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 6px 10px 4px 20px; */


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    /* margin: 0px 11px; */
}

.optionText{
    /* 진행 상태 */
    position: static;
    width: 65px;
    height: 20px;


    color: rgb(102, 116, 121);
    font-family: NanumGothic;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: justify;



    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.optionArrow{
    /* Frame 67 */
    position: static;
    width: 19px;
    height: 19px;

    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}

.lists{
   /* content */
    position: static;
    width: 867px;

    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}