.homeWebCatCont{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px
}

.homeWebCatInfo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-items: center;
}

.homeWebCatInfo h2{
    font-size: 18px;
    font-weight: bold;
    color: rgb(39, 78, 19);
}

.homeWebCatInfo button{
    width: fit-content;
    height: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;

    padding-left: 15px;
    
    color: rgb(250, 143, 57);
    border-color: rgb(250, 143, 57);
    border-radius: 40px;
}
.homeWebCatInfo img{
    height: 10px;
    margin-left: 5px;
    filter: invert(74%) sepia(24%) saturate(4173%) hue-rotate(331deg) brightness(97%) contrast(101%);
}

.homeWebCatCont1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 10px;
}

.homeWebCatCont1 button{
    border: 0;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 25px;
}
.homeWebCatCont1 button img {
    height: 50px;

    margin-bottom: 10px;
    
}