/* web */
.homeWebCatCont{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px
}

.homeWebCatInfo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.homeWebCatInfo h2{
    font-size: 18px;
    font-weight: bold;
    color: rgb(39, 78, 19);
}

.homeWebCatInfo button{
    width: fit-content;
    height: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;

    padding-left: 15px;
    
    color: rgb(250, 143, 57);
    border-color: rgb(250, 143, 57);
    border-radius: 40px;
}
.homeWebCatInfo img{
    height: 10px;
    margin-left: 5px;
    filter: invert(74%) sepia(24%) saturate(4173%) hue-rotate(331deg) brightness(97%) contrast(101%);
}

.homeWebCatContWL{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homeWebCatContC{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    margin-top: 10px;
}

.homeWebCatContC button{
    border: 0;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
.homeWebCatContC button img {
    height: 50px;
    
    margin-bottom: 10px;
}

/* tablet */
.homeTabCatCont{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
}

.homeTabCatInfo h2{
    font-size: 18px;
    font-weight: bold;
    color: rgb(39, 78, 19);

    margin-left: 10px;
    margin-bottom: 10px;
}

.homeTabCatBtnCont{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.homeTabCatBtnCont2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.homeTabCatBtnCont button{
    color: rgb(39, 78, 19);
    border-radius: 40px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;

    margin-top: 10px;
    margin: 5px 5px 5px 5px;
}
.homeTabCatBtnCont button img {
    height: 50px;
    margin-bottom: 10px;
}

/* mobile */
.homeMobCatCont{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
}

.homeMobCatInfo h2{
    font-size: 18px;
    font-weight: bold;
    color: rgb(39, 78, 19);

    margin-left: 20px;
    margin-bottom: 10px;
}

.homeMobCatBtnCont{
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
.homeMobCatBtnCont2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    margin-left: 20px;
    margin-right: 20px;
}

.homeMobCatBtnCont button{
    color: rgb(39, 78, 19);
    border-radius: 40px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;

    margin-top: 10px;
    margin: 5px 5px 5px 5px;
}
.homeMobCatBtnCont button img {
    height: 50px;
    margin-bottom: 10px;
}