.homeWebListCont{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.homeWebInfo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-items: center;

    margin-bottom: 10px;
}

.homeWebInfoTitleCont span{
    font-size: 14px;
}

.homeWebInfoTitleCont h2{
    font-size: 18px;
    font-weight: bold;
    color: rgb(39, 78, 19);

    margin-top: 8px;
    margin-bottom: 8px;
}

.homeWebInfo button{
    width: fit-content;
    height: 5vh;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;

    padding-left: 15px;

    border: 2px solid rgb(250, 143, 57);
    color: rgb(250, 143, 57);
    border-radius: 40px;
}

.homeWebInfo img{
    height: 10px;
    margin-left: 5px;
}

.homeWebPopCont{
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: baseline;

    overflow-x: scroll;
    overflow-y: hidden;
}

/* scroll bar 제거 ( chrome 환경) */
/* .homeWebPopCont::-webkit-scrollbar {
    display: none;
} */

.homeWebPopCont *{
    margin-left: 4px;
    margin-right: 4px;
}