
.productCard{
    width: 206px;
    height: 254px;
    box-sizing: border-box;


    border: 1px solid rgb(234, 234, 234);

    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 6px 6px 6px 6px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    /* margin: 0px 14px 0px 0px; */
}

.productImg{
    width: 190px;
    height: 142px;
    background: rgb(255, 255, 255);
    border-radius: 10px;


}

.productContext{
    width: 190px;
    
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 6px 6px 6px 6px;
    margin: 8px 0px;
}

.productContext2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

.productTop{
    /* Frame 12 */
    height: 18px;

    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px 4px 0px;
}

.productAreaFrame{
    height: 18px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

.productArea{
    /* 식품 */
    position: static;
    width: 100px;
    height: 18px;

    overflow: hidden;                /*영역 감추기*/
    text-overflow: ellipsis;         /*... 만들기*/
    white-space: nowrap;             /*아래줄로 내려가지 않게*/
    word-break: break-all;

    color: rgb(102, 116, 121);
    font-family: Arimo;
    font-size: 10px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;

    /* 자동 레이아웃 */
    display: block;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.productPeopleNumFrame{
    /* 참여자수 */
    position: static;
    /* width: 65px; */
    height: 18px;
    
    color: rgb(102, 116, 121);
    font-family: Arimo;
    font-size: 10px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;

    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.productNameFrame{
    /* 밀양얼음골사과 */
    position: static;
    /* width: 160px; */
    height: 24px;

    overflow: hidden;                /*영역 감추기*/
    text-overflow: ellipsis;         /*... 만들기*/
    white-space: nowrap;             /*아래줄로 내려가지 않게*/
    word-break: break-all;

    color: rgb(0, 23, 31);
    font-family: Arimo;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;

    /* 자동 레이아웃 */
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

.productBottom{
    /* 프레임 31 */
    position: static;
    height: 22px;
    
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;


    /* Inside Auto Layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 2px 0px;
}

.productDay{
    /* D - 63 */
    position: static;
    /* width: 192px; */
    height: 22px;

    color: rgb(0, 23, 31);
    font-family: Arimo;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;



    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 0px;
}

.productHeartFrame{
    /* 프레임 33 */
    position: static;
    width: 22px;
    height: 22px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}

.productHeart{
    /* 矢量 17 */
    position: static;
    width: 22px;
    height: 22px;
    
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}