.back_modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
}

.wrap_modal {
    width: 305px;
    height: 370px;
    background-color: white;
    border: 1px solid #0f0b19;
    border-radius: 10px 10px 0 0;
    line-height: 0;
    padding-bottom: 10px;
    animation: fadeInUp 0.5s;
}

.cancelBar_modal {
    position: relative;
    width: 100%;
    height: 36px;
    border-radius: 10px 10px 0 0;
}

.cancelBar_modal:hover {
    cursor: pointer;
    background-color: #0f0b19;
}

.bar_modal {
    position: absolute;
    top: 16px;
    left: 170px;
    border: 2px solid #dbdbdb;
    border-radius: 5px;
    width: 50px;
}

.btn_modal {
    height: 46px;
    width: 100%;
}

.btn_modal:hover {
    cursor: pointer;
    font-weight: 600;
    color: white;
    background-color: #0f0b19;
    transition: 0.5s;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}
