.headerWhole {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    margin-top: 10px;
}

.headerLogo{
    width: 180px;
}

.headerRight {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;
}

.headerRight a{
    margin-left: 3px;
    margin-right: 3px;
}

.headerToWebMyPageImg {
    height: 40px;
}

.headerUploadBtn{
    border: 1;
    background: white;
}



.headerNav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.headerNav a{
    margin-left: 20px;
    margin-right: 20px;
}