.headerWhole {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    margin-top: 10px;
}

.headerLogo{
    width: 140px;
    object-fit: cover;
    margin-left: 10px;
}

.headerRight {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;
}

.headertoWebAlarmPopoverBtn{
    border: 0px;
    width: 60px;

    display: flex;
    justify-content: center;

    align-items: center;
}

.headerRight a{
    margin-left: 3px;
    margin-right: 3px;
}

.headerToWebFuncImg{
    height: 25px;
    margin: 15px 15px;
}

#headerUploadBtn{
    width: fit-content;
    height: fit-content;
    margin: 15px;

    border: 2px solid rgb(39, 78, 19);
	border-radius: 10px;
}

.headerToWebUpload{
    height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;

    white-space : nowrap;
}

.headerToWebUploadImg{
    height: 25px;
    margin: 0px 2px;
}

.headerToWebMyPageImg {
    height: 35px;
    border-radius: 70%;
    margin: 10px 10px;
}

.headerNav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.headerNav a{
    margin-left: 20px;
    margin-right: 20px;
}

.headerNav span{
    font-weight: 800;
    font-size: 15px;
}

.headerNavRight{
    border: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items : center;
    align-content: center;
    text-align: center;

    width: 250px;
    height: 40px;
    background: rgb(238, 238, 238);
    border-radius: 30px;
    padding: 0px 10px;
}
#headerSearchKeyword{
    width: max-content;

    background-color:transparent;
    border: 0px;

    position: relative;
    top: 50%;
    transform: translateY(-100%);

    flex: 1;
}

.headerNavRight button{
    border: 0px;
    height: fit-content;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}
.headerNavRight img{
    height: 16px;
}

