.headerWhole {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    margin-top: 25px;
    margin-bottom: 10px;

    margin-left: 10px;
}

.headerLogo{
    width: 23%;
}

.headerRight {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;
}

.headerRight a{
    margin-left: 3px;
    margin-right: 3px;
}

.headerToWebFuncImg{
    height: 30px;
    margin: 15px 15px;
}

.headerUploadBtn{
    width: fit-content;
    height: fit-content;
    margin: 15px;
}

.headerToWebUpload{
    height: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}

.headerToWebUploadImg{
    height: 30px;
    margin: 0px 5px;
}

.headerToWebMyPageImg {
    height: 35px;
    border-radius: 70%;
    margin: 15px 15px;
}

.headerNav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    margin-left: 10px;
    margin-bottom: 15px;
}

.headerNav a{
    margin-left: 20px;
    margin-right: 20px;
}

#headerSearchKeyword{
    border: solid 2px #D2691E;
    border-radius: 8px;
    background: black;

    width: 30vh;
    height: 6vh;
    background: black;
    border-color: rgb(242, 201, 76);
    border-radius: 30px;
    padding: 0px 18px;
}