.footerWhole {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    margin-top: 60px;
}

.footerWhole hr{
    border: 0.1 solid#A0A0A0;
    display: block !important;
    width: 100% !important;
}

.footerChild{
    margin-top: 15px;
    margin-left: 35px;
    margin-right: 35px;
}

.footerBottom{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    white-space : nowrap;
}

.footerBotGuideCont{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.footerBottomGuide{
    margin-right: 35px;
}

.footerNav a{
    margin-left: 20px;
    margin-right: 20px;
}

.footerBottomTitle {
    margin-bottom: 15px;
    
    font-size: 16px;
    font-weight: 800;
    color: rgb(102, 116, 121);
}

.footerBottom li{
    margin-bottom: 10px;
    font-size: 13px;
    color: rgb(102, 116, 121);
}
.footerBottomIconCont{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    align-content: end;
}
.footerBottomIconCont img{
    height: 25px;
    margin-left: 18px;
    margin-right: 18px;
}

.footerMOAGuide span{
    display: block;
    white-space : wrap;
    font-size: 11px;
    color: rgb(102, 116, 121);
    background-color: #F0F0F0;
    line-height: 20px;

    margin-top: 20px;
    margin-bottom: 10px;

    padding: 5px 10px 5px 10px;
}

.footerLogoCont{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 10px;
    margin-bottom: 25px;
}
.footerLogoCont img{
    height: 40px;

    margin-left: 10px;
    margin-right: 10px;
}

.footerBottomMob{
    display: flex;
    flex-direction: column;
}

.footerBottomIconContMob{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.footerBottomIconContMob img{
    height: 25px;
    margin-left: 18px;
    margin-right: 18px;
}

.footerBotGuideContMob {
    margin-bottom: 10px;
}

.footerBotGuideContMob ul {
    list-style:none;
    margin:0;
    padding:0;
}
.footerBotGuideContMob li {
    margin: 5px 5px 5px 5px;
    padding: 0 0 0 0;
    border : 0;
    float: left;
}