.wrap{
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    width: 390px;
    padding-top: 20px;
}

.wrap_img{
    margin: 20px 0 ;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;

}

.cont_img{
    display:block;
    border-radius: 10px;
    width: 168px;
    height: 126px;
    overflow: hidden;
    object-fit: cover;
margin-right: 10px;
background-color: aqua;

}

.btn_upload{
    width: 110px;
    height: 40px;
    margin-left: auto;
    /* border: 2px solid rgb(39, 78, 19);; */
    background: rgb(39, 78, 19);
    color: white;
    border-radius: 40px;
}
.btn_search{
    width: 70px;
    height: 30px;
    margin-left: 20px;
    /* border: 2px solid rgb(39, 78, 19);; */
    background: var(--main-green);
    color: white;
    border-radius: 40px;
}
.span_upload{
    font-size: 18px;
    display: block;
    margin: 20px 0;
}

.select_upload{
    font-size: 20px;
    padding: 5px;
}

.input_upload, .address , .inp_people, .select_upload{
    border: 1px solid rgba(198, 198, 198, 0.609);
    
    border-radius: 5px;
    padding: 8px;
    font-size: 18px;
}

input, textarea{
    /* border: 1px solid ;
    
    border-radius: 5px;
    padding: 8px;
    font-size: 18px; */
}

input:focus, textarea:focus{
    /* outline: 1px solid red; */
}

.won_upload{
    margin: 0 10px;
}

.address{
    margin-bottom: 10px;
}
.inp_people{
    width: 40px;
    margin-right: 5px;
}
.inp_people:after{
    content: "명dfdf";
    border: 100px solid;
    color: black;
    float: right;
    margin-right: 10px;
}